@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;300;400&display=swap');

$font1: "Roboto", serif;
$font2: "Roboto Slab",serif;

$white: #FFFFFF;
$black: #394344;
$gray: #9A9FA4;

$lgray: #CDCDCD;
$red: #E0624A;
$ygreen: #B3D330;
$blue: #2185E3;
$bgreen: #0A8080;
$orange: #D0922A;
$lblue: #79C6FE;
