@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");


$font1: "Roboto", serif;
$font2: "Roboto Slab",serif;

$whiteColor: #ffffff;
$blackColor: #181818;
$greyColor: #9a9fa4;
